<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Fruit Picker</h1>
    <a href="/strawberries">this goes to strawberries</a>
    <br />
    <a href="/raspberries">this goes to raspberries</a>
  </body>
</html>
